<!-- main urls -->
<a href="{% url 'homeurl' %}" target="_blank" title="hit home url">homepage</a>
<a href="{% url 'contacturl' %}" target="_blank" title="hit contact url">contact</a>
<a href="{% url 'contactcacheurl' %}" target="_blank" title="hit contact cache url">contact cache</a>
<a href="{% url 'abouturl' %}" target="_blank" title="hit about url">about</a>
<a href="{% url 'clearcacheurl' %}" target="_blank" title="hit about url">clear cache</a>

<!-- registration urls -->
<a href="{% url 'registerurl' %}" target="_blank" title="hit register url">register</a>
<a href="{% url 'userloginurl' %}" target="_blank" title="hit login url">login</a>
<a href="{% url 'profileurl' %}" target="_blank" title="hit profile url">profile</a>
<a href="{% url 'userlogouturl' %}" target="_blank" title="hit logout url">logout</a>
<a href="{% url 'changepassurl' %}" target="_blank" title="hit changepass url">changepass</a>
<a href="{% url 'emailformurl' %}" target="_blank" title="hit resetpass url">resetpass</a> <br>

<!-- blogpost urls -->
<a href="{% url 'contactformurl' %}" target="_blank" title="hit contactform url">contact form</a>
<a href="{% url 'createposturl' %}" target="_blank" title="hit create post url">create post</a>
<a href="{% url 'updateposturl' 1 %}" target="_blank" title="hit update post url">update post 1</a>
<a href="{% url 'postlisturl' %}" target="_blank" title="hit post list url">post list</a>
<a href="{% url 'postdetailurl' 1 %}" target="_blank" title="hit post detail url">post detail 1</a>
<a href="{% url 'deleteposturl' 1 %}" target="_blank" title="hit delete post url">deletepost 1</a> <br>

<!-- payment model student urls -->
<a href="{% url 'createmodelstudenturl' %}" target="_blank" title="hit create model student url">create model student </a>
<a href="{% url 'updatemodelstudenturl' 3 %}" target="_blank" title="hit update model student url">update model student 3</a>
<a href="{% url 'modelstudentlisturl' %}" target="_blank" title="hit model list student url">model list</a>
<a href="{% url 'modelstudentdetailurl' 3 %}" target="_blank" title="hit model detail student url">model student detail 3</a>
<a href="{% url 'deletemodelstudenturl' 3 %}" target="_blank" title="hit delete model student url">delete student model 3</a> <br>

<!-- payment model teacher urls -->
<a href="{% url 'createmodelteacherurl' %}" target="_blank" title="hit create model teacher url">create model teacher </a>
<a href="{% url 'updatemodelteacherurl' 3 %}" target="_blank" title="hit update model teacher url">update model teacher 3</a>
<a href="{% url 'modelteacherlisturl' %}" target="_blank" title="hit model list teacher url">model list</a>
<a href="{% url 'modelteacherdetailurl' 3 %}" target="_blank" title="hit model detail teacher url">model teacher detail 3</a>
<a href="{% url 'deletemodelteacherurl' 3 %}" target="_blank" title="hit delete model teacher url">delete teacher model 3</a> <br>

<!-- payment model contractor urls -->
<a href="{% url 'createmodelcontractorurl' %}" target="_blank" title="hit create model contractor url">create model contractor </a>
<a href="{% url 'updatemodelcontractorurl' 3 %}" target="_blank" title="hit update model contractor url">update model contractor 3</a>
<a href="{% url 'modelcontractorlisturl' %}" target="_blank" title="hit model list contractor url">model list</a>
<a href="{% url 'modelcontractordetailurl' 3 %}" target="_blank" title="hit model detail contractor url">model contractor detail 3</a>
<a href="{% url 'deletemodelcontractorurl' 3 %}" target="_blank" title="hit delete model contractor url">delete contractor model 3</a> <br>

<!-- payment model center urls -->
<a href="{% url 'createmodelcenterurl' %}" target="_blank" title="hit create model center url">create model center </a>
<a href="{% url 'updatemodelcenterurl' 3 %}" target="_blank" title="hit update model center url">update model center 3</a>
<a href="{% url 'modelcenterlisturl' %}" target="_blank" title="hit model list center url">model list</a>
<a href="{% url 'modelcenterdetailurl' 3 %}" target="_blank" title="hit model detail center url">model center detail 3</a>
<a href="{% url 'deletemodelcenterurl' 3 %}" target="_blank" title="hit delete model center url">delete center model 3</a> <br>

<!-- payment model center student urls -->
<a href="{% url 'createmodelcenterstudenturl' %}" target="_blank" title="hit create model center student url">create model center student </a>
<a href="{% url 'updatemodelcenterstudenturl' 3 %}" target="_blank" title="hit update model center student url">update model center student 3</a>
<a href="{% url 'modelcenterstudentlisturl' %}" target="_blank" title="hit model list center student url">model list</a>
<a href="{% url 'modelcenterstudentdetailurl' 3 %}" target="_blank" title="hit model detail center student url">model center student detail 3</a>
<a href="{% url 'deletemodelcenterstudenturl' 3 %}" target="_blank" title="hit delete model center student url">delete center student model 3</a> <br>

<!-- payment proxy model center student urls -->
<a href="{% url 'createproxymodelcenterstudenturl' %}" target="_blank" title="hit create proxy model center student url">create proxy model center student </a>
<a href="{% url 'updateproxymodelcenterstudenturl' 3 %}" target="_blank" title="hit update proxy model center student url">update model center student 3</a>
<a href="{% url 'proxymodelcenterstudentlisturl' %}" target="_blank" title="hit proxy model list center student url">proxy model list</a>
<a href="{% url 'proxymodelcenterstudentdetailurl' 3 %}" target="_blank" title="hit proxy model detail center student url">proxy model center student detail 3</a>
<a href="{% url 'deleteproxymodelcenterstudenturl' 3 %}" target="_blank" title="hit delete proxy model center student url">delete center student proxy model 3</a> <br>

{% comment %}
{% endcomment %}
