{% extends 'sessioncookie/sessioncookielayout.html' %}
{% block title %}
get session
{% endblock %}
{% block body %}
<h1>this is get sessioncookie page <br> session will expire after 20 seconds</h1>
<h3>cookie value: {{cookie}} <br> <br> full username:{{username}}</h3>
{% for key in keys %}
<!-- for key in request.session.keys (both are same) -->
keys:{{key}} <br>
{% endfor %} <br> <br> <br>
{% if items %}
items: <br>
{% endif %}
{% for key, value in items %}
{{key}}: {{value}} <br>
{% endfor %}
{% endblock %}